.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered {
  display: flex;
  justify-content: center;
}

.bg-main {
  background-color: #68a18f;
}
.bg-main-light {
  background-color: #baddd2;
}
.color-nav {
  background-color: #baddd2;
}

.nav-link:hover {
  font-weight: bolder;
}

.active.nav-link.active {
  font-weight: bolder;
}

.landing {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.align-right {
  margin-left: auto;
  margin-right: 57px;
}

.pushed {
  margin-left: 15px;
}
.extra-pushed {
  margin-left: 50px;
}

.time-nav{
  font-weight: 700;
  background-color: white;
  
}

.text-bank{
  font-weight: 700  !important;
}

.centered .new-sze{
  height: 550px !important;
}

img,svg{
    justify-content: center !important;
    display: block !important;
    margin-left: auto !important; 
    
    margin-right: auto !important;
    
   
    text-align: center !important;
}
.gris-yazı{
  text-align: center !important;
  justify-content: center !important;
}

.img-mk{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 5px solid green;
}


.align-right{

  text-align: center;
  
}